label{
    font-size: 1.5rem;
}
form {
    background: #fff;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
    
    width: 100%;
    bottom: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
button {
    background: #333;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #555;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    background-image: url("./images/header-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
}

.workout-log {
    border: 1px solid #ccc;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
    width: 600px;
}

.workout-log h1 {
    text-align: center;
    margin-top: 0;
}

#workout-form label {
    display: block;
    margin-bottom: 8px;
}
#Workouts-chart {
    width: 100%; 
    max-width: 600px; 
    height: auto; 
}
.chart-container {
    max-width: 800px; 
    margin: 0 auto; 
}


